<% @all_images.each do |image| %>
  <img src='<%= image.url %>'/>
  <p>
    <% image.tag_list.each_with_index do |tag, i| %>
      <span>
        <%= link_to tag, "/images/tags/#{tag}", class:"index-image-tags" %><%= i < image.tag_list.count - 1 ? ", " : "" %>
      </span>
    <% end %>
  </p>
  <%= button_to "delete", image, :method => :delete, data: { confirm: 'Are you sure?' }  %>
  <br />
<% end %>
<%= link_to 'Add New', new_image_path %>
